/* ------------- Create User ----------------- */


:root {
    --primary-color: #528265;
    --font-color: #ebe5e5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://themewagon.github.io/courier/v1.0.0/assets/img/illustrations/hero.png);
    background-repeat: no-repeat;
    background-position:12em 12em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------- NAVBAR ----------------- */


.navbar {
    position: fixed;
    top: 0%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #528265;
    box-shadow: black 0px 0px 10px;
}

.navbar a {
    color: white;
    font-size: 20px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 30px;
    padding-top: 14px;
}

.navbar .nav-links ul li.active a {
    color: #F9CB75;
    font-weight: 600;
}

/* ------------- BODY ----------------- */

.user{
    background-color: #528265;
    color: white;
    width:350px;
    height: 160px;
    margin:auto;
    margin-top: 40vh;
    border-radius: 10px;
}

.pseudo{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 13%;
    
}

.mail{
    margin-left: 4%;
    text-align: center;
}

.submit{
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 5px;
}