/* ------------- CSS MES COLIS ----------------- */

:root {
    --primary-color: #528265;
    --font-color: #ebe5e5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ------------- NAVBAR ----------------- */

.navbar {
    position: fixed;
    top: 0%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #528265;
    box-shadow: black 0px 0px 10px;
}

.navbar a {
    color: white;
    font-size: 20px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 30px;
    padding: 16px;
}

.navbar .nav-links ul li.active a {
    color: #F9CB75;
    font-weight: 600;
}

/* ------------- BODY ----------------- */

.colis {
    margin-top: 8%;
    font-family: Arial, sans-serif;
}

.colis h1 {
    margin-left: 5%;
    text-decoration: underline;
}

.colis .expediteur {
    background-color: #528265;
    align-items: left;
    width: 25%;
    height: auto;
    margin-top: 3%;
    margin-left: 15%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
    color: white;
    float: left;
}


.colis .expediteur h2 {
    text-decoration: underline;
    padding-bottom: 10px;
    padding-bottom: 5%;
}

.colis .expediteur p {
    text-align: left;
    padding: 0.5%;
    width: 100%;
}

.expediteur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.colis .expediteur-color {
    color : blue;
}

.destination {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.colis .destination {
    background-color: #528265;
    width: 25%;
    height: auto;
    margin-top: 3%;
    margin-right: 15%;
    padding: 1%;
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
    color: white;
    float: right;
}

.colis .destination h2 {
    text-decoration: underline;
    padding-bottom: 10px;
    padding-bottom: 5%;
}

.colis .destination p {
    text-align: left;
    padding: 0.5%;
    width: 100%;
}

.labarre{
    display: flex;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    position: relative;
    transform: translate(0,100px);
}
.jauge{
    height: 40px;
    width: 25vw;
}
.sep{
    height: 40px;
    width: 3px;
    background-color: white;
}

.rectangle-noir {
    position: absolute; /* Position absolue pour placer le rectangle */
    top: 0;
    left: 0;
    height: 100%; /* Largeur pour couvrir 50% de la barre */
    background-color: transparent; /* Couleur noire */
    z-index: 1; /* Assure que le rectangle soit au-dessus des autres éléments */
    border-right: 4px solid black;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    position: relative;
  }
  
  .progression {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.5s ease;
  }
  
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
  }
  
/* footer */

