/* ------------- CSS SUPPORT ----------------- */

:root {
    --primary-color: #528265;
    --font-color: #ebe5e5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ------------- NAVBAR ----------------- */

.navbar {
    position: fixed;
    top: 0%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #528265;
    box-shadow: black 0px 0px 10px;
}

.navbar a {
    color: white;
    font-size: 20px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 30px;
    padding: 16px;
}

.navbar .nav-links ul li.active a {
    color: #F9CB75;
    font-weight: 600;
}

/* ------------- BODY ----------------- */

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0px 100px;
    font-family: Arial, sans-serif; 
}

.first{
    background-color: #528265;
    color: white;
    width:350px;
    height: 265px;
    margin:auto;
    margin-top: 50vh;
    border-radius: 10px;
}

.contact p{
    margin-left: 6%;
}

.title{
    color: white;
    text-decoration: underline;
    padding: 1%;
    padding-bottom: 5%;
}


.second{
    background-color: #528265;
    color: white;
    width:350px;
    height: 250px;
    margin:auto;
    margin-top: 4%;
    margin-left: 10%;
    border-radius: 10px;
    float:left;
}

.message_admin{
    text-decoration: underline;
    margin-left: 4%;
    padding: 1%;
    padding-bottom: 5%;
}

.third{
    background-color: #528265;
    color: white;
    width:360px;
    height: 265px;  
    margin:auto;
    margin-top: 50vh;
    margin-right: 10%;
    border-radius: 10px;
}


.top_message{
    text-decoration: underline;
    margin-left: 4%;
}

.question {
    text-decoration: none;
    margin-left: 4%;
    margin-right: 4%;
}

.question p {
    width: 100%;
    padding-left: 1%;
}

h2 {
    padding: 1%;
}

.question a {
    color: black;
    font-weight: bold;
    padding-left: 1px;
}