*{
    margin: 0%;
}


:root {
    --primary-color: #528265;
    --font-color: #ebe5e5;
}

header {
    background-color: #528265;
}

/* ------------- CSS INDEX ----------------- */

.index-body {
    margin: 0;
}

/* header */

header {
    background-color: #528265;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 50px;
}

header img {
    width: 20%;
    height: auto;
    padding: 0.4%;
}

header nav {
    float: right;
    width: 600px;
    margin-top: 2.5%;
}

header nav ul li {
    float: left;
    display: inline-block;
    padding-right: 5%;
}

header nav ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 52px;
    vertical-align: middle;
}

.index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--primary-color);
    padding: 0 100px;
}

.index-header .header-buttons {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    
}

.index-header h1 {
    display: flex;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 25px;
}

.first{
background-color: #528265;
color: white;
width:350px;
height: 150px;
margin:auto;
margin-top: 7%;
border-radius: 10px;
}

.contact{
    margin-left: 35%;
}

.title{
color: white;
text-decoration: underline;
margin-left: 2%;
}


.second{
    background-color: #528265;
    color: white;
    width:350px;
    height: 250px;
    margin:auto;
    margin-top: 4%;
    margin-left: 10%;
    border-radius: 10px;
    float:left;
    }

.message_admin{
    text-decoration: underline;
    margin-left: 4%;
}

.third{
    background-color: #528265;
    color: white;
    width:360px;
    height: 265px;  
    margin:auto;
    margin-top: 3.5%;
    margin-right: 10%;
    border-radius: 10px;
    }


.top_message{
    text-decoration: underline;
    margin-left: 4%;
}

.question {
    text-decoration: none;
    margin-left: 4%;
}
