<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/BO" method="post">
        <a>Vendeur</a>
        <select name="shop">
            <option value="0">kakou</option>
            <option value="1">pute</option>
        </select>
        <a>Adresse Client</a>
        <input type="text" name = "ClientAdress">
        <a>Adresse Depart</a>
        <input type="text" name = "StartAdress">
        <input type="submit">
        </form>
    {{range .}}
        <h2>{{.Uid}}</h2>
        {{if ne .Step 5}}


        <button onclick="PlusStep(this)" value="{{.Id}}">+</button>
        {{end}}
        {{if ne .Step 0}}
        <button onclick="MoinsStep(this)"value="{{.Id}}">-</button>
        {{end}}
    {{end}}
</body>
<script src="/assets/js/Step.js"></script>
</html>