<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <!-- <link rel="stylesheet" href="../assets/css/header.css"> -->
    <link rel="stylesheet" href="../assets/css/BO.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/loginShop.css">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Track-T'Heure</title>
</head>
<body>
<header>
<nav class="navbar">
  <a href="/" class="logo">
      <img src="assets\img\logof.png" style="height: 40px; width: auto;"/>
  </a>
  <div class="nav-links">
    <ul>
        <li><a href="/BO">Livraisons</a></li>
        <li><a href="/addShop">Boutique</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/info">A propos</a></li>
        <div class="dropdown">
            <button class="dropbtn">Connexion</button>
            <div class="dropdown-content">
              <a href="/login">Admin</a>
              <a href="/loginShop">Collaborateur</a>
            </div>
          </div>
    </ul>
</div>
</nav>
</header>
  <div class="haut">
    <p>Création de colis</p>
  <div class="encadrement-colis">
    <p>Création de colis</p>
    <div class="entreprise">
    <form action="" method="post" >
        <a>Vendeur</a>
        <select name="shop">
          {{if .IsAdmin}}
            {{range .AllShops}}
              <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
          {{else}}
            <option value="{{.CurrentShop.Id}}" selected>{{.CurrentShop.Name}}</option>
            {{range .AllShops}}
              {{if ne .Id $.CurrentShop.Id}}
                <option value="{{.Id}}" disabled>{{.Name}}</option>
              {{end}}
            {{end}}
          {{end}}
        </select>

        <a>Mail Client</a>
        <input type="email" name="email" required>
        <a>Adresse Client</a>
        <input type="text" name="ClientAdress" required>
        <input type="number" id="ClientPostalCode" name="ClientPostalCode" placeholder="Code Postal" required>
        <select id="ClientCity" name="ClientCity">
            <option value="" disabled selected hidden>Ville</option>
        </select>
      </div>
      <br>
      <div class="destinataire">
        <a>Adresse Départ</a>
        <input type="text" name="StartAdress" required>
        <input type="number" id="StartPostalCode" name="StartPostalCode" placeholder="Code Postal" required>
        <select id="StartCity" name="StartCity">
            <option value="" disabled selected hidden>Ville</option>
        </select>
      </div>
        <input type="submit" class="envoi">
    </form>
  </div>
  </div>
    
    <script>
      // Fonction pour remplir automatiquement le champ de la ville en fonction du code postal
    function fillCityFromPostalCode(postalCodeInputId, cityInputId) {
      var postalCodeInput = document.getElementById(postalCodeInputId);
      var cityInput = document.getElementById(cityInputId);
      
      postalCodeInput.addEventListener('input', function() {
        var postalCode = this.value;
        // Appel à un service de géocodage inversé
        fetch('https://api-adresse.data.gouv.fr/search/?q=' + postalCode)
          .then(response => response.json())
          .then(data => {
            var cities = [];
            data.features.forEach(feature => {
              cities.push(feature.properties.city);
            });
            // Affichage des suggestions dans l'élément de sélection
            displaySuggestions(cities, cityInput);
          })
          .catch(error => {
            console.error('Erreur lors de la récupération des données :', error);
          });
      });

      // Fonction pour afficher les suggestions dans l'élément de sélection
      function displaySuggestions(suggestions, selectElement) {
         // Créer un ensemble pour stocker des suggestions uniques
        var uniqueSuggestions = new Set(suggestions);
        // Supprimer les anciennes options
        selectElement.innerHTML = '';
        // Ajouter une option pour chaque suggestion unique
        uniqueSuggestions.forEach(suggestion => {
            var option = document.createElement('option');
            option.textContent = suggestion;
            selectElement.appendChild(option);
        });
      }
    }

    // Remplir automatiquement les champs de ville lorsque les codes postaux changent
    fillCityFromPostalCode('ClientPostalCode', 'ClientCity');
    fillCityFromPostalCode('StartPostalCode', 'StartCity');
      </script>

      <div></div>

      <input type="text" id="searchInput" placeholder="Recherchez le code">

      {{range .AllColis}}
          <div class="colis" data-uid="{{.Uid}}" data-id="{{.Id}}">
              <h2>{{.Uid}}</h2>
              {{if ne .Step 2}}
              <button onclick="PlusStep(this)" value="{{.Id}}" class="button">+</button>
              {{end}}
              {{if ne .Step 0}}
              <button onclick="MoinsStep(this)" value="{{.Id}}" class="button">-</button>
              {{end}}
          </div>
      {{end}}
</body>
<script src="/assets/js/Step.js"></script>
<script src="/assets/js/search_bar.js"></script>
</html>