<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Cuser.css">
    <link rel="stylesheet" href="../assets/css/loginShop.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Track-T'Heure</title>
</head>
<body>
    <div class="nav-links">
        <ul>
            <li><a href="/BO">Livraisons</a></li>
            <li><a href="/addShop">Boutique</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/info">A propos</a></li>
            <div class="dropdown">
                <button class="dropbtn">Connexion</button>
                <div class="dropdown-content">
                  <a href="/login">Admin</a>
                  <a href="/loginShop">Collaborateur</a>
                </div>
              </div>
        </ul>
    </div>

    <div class="user">
    <form action="" method="post">
        <div class="pseudo">
        <span>Pseudo</span>
        <input name="name" type="text">
    </div>
    <div class="mail">
        <span>Mail</span>
        <input type="email" name="mail">
    </div>
    <div class="submit">
        <input type="submit">
    </div>
    </form>
</div>
</body>
</html>