<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action=""method="post">
        <h2>pseudo</h2>
        <input type="text" name="pseudo">
        <h2>mdp</h2>
        <input type="text" name="mdp">
        <input type="submit">
    </form>
    <h1>Register</h1>
    <form action="" method="post">
        <h2>pseudo</h2>
        <input type="text" name="pseudoR">
        <h2>mdp</h2>
        <input type="text" name="mdpR">
        <input type="submit">
    </form>
</body>
</html>