<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track-T'Heure</title>
    <link rel="stylesheet" href="../assets/css/mes_colis.css">
</head>
<body class="index-body">
    <header class="index-header">
        <a href="/">
            <div class="container-logo">
                <img src="./assets/img/logof.png" width="350" height="auto" />
            </div>
        </a>
        <div class="header-buttons">
            <a href="/mes_colis"> <!-- LIEN COLIS -->
                <h1>Mes Colis</h1>
            </a>
            <a href="/retour"> <!-- LIEN RETOUR -->
                <h1>Retour</h1>
            </a>
            <a href="/support"> <!-- LIEN SUPPORT -->
                <h1>Support</h1>
            </a>
            <a href="/info"> <!-- LIEN QUI -->
                <h1>Qui sommes-nous ?</h1>
            </a>
        </div>
    </header>

    <div class="colis_encours">
        <h1>Colis en cours :</h1>
        <div class="info">
            <h2>Contact :</h2>
            <div class="infos">
                <p><span style="color:orange;">adresse de départ :</span> Bordeaux</p>
                <p><span style="color:orange;">adresse mail :</span> bordeaux@bordeaux.com</p>
                <p><span style="color:orange;">n° de téléphone :</span> 01.23.45.67.89</p>
                <p><span style="color:orange;">n° de commande :</span> LVLLBDX</p>
                <p><span style="color:orange;">destination :</span> Bordeux</p>
                <p><span style="color:orange;">statut :</span> En traitement</p>
            </div>
        </div>
    </div>
    <div class="colis_livrés">
        <h1>Colis livrés :</h1>
        <div class="info">
            <h2>Contact :</h2>
            <div class="infos">
                <p><span style="color:orange;">adresse :</span> Bordeux</p>
                <p><span style="color:orange;">adresse mail :</span> bordeaux@bordeaux.com</p>
                <p><span style="color:orange;">n° de téléphone :</span> 01.23.45.67.89</p>
                <p><span style="color:orange;">n° de commande :</span> LVLLBDX</p>
                <p><span style="color:orange;">destination :</span> Bordeux</p>
                <p><span style="color:orange;">statut :</span> Livré</p>
            </div>
        </div>
    </div>
</body>
</html>