<!DOCTYPE html>
<html lang="fr">

<head>
<link rel="stylesheet" href="../assets/css/retour.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<title>Retour</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <header>
        <a href="/"><img src="../assets/img/logo.png"></a>
        <nav>
            <ul>
                <li><a href="/colis">mes colis</a></li>
                <li><a href="retour">retour</a></li>
                <li><a href="support">support</a></li>
                <li><a href="/info">qui sommes nous ?</a></li>
            </ul>
        </nav>
    </header>

    <div class="text-retour">
        <h1>Envoi ou retour d’un colis depuis votre boîte aux lettres</h1>
    </div>

    <div class="body-container">
        <div class="retour-container">
            <h1>Renseignez votre numéro de colis</h1>
            <div class="input-box">
                <input type="text" name="colis-id" placeholder="No. de colis" required>
            </div>
            <button class="btn" onclick=""><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</body>
</html>