<!DOCTYPE html>
<html lang="fr">

<head>
<link rel="stylesheet" href="../assets/css/retour.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<title>Retour</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <header class="index-header">
        <a href="/">
            <div class="container-logo">
                <img src="./assets/img/logof.png" width="350" height="auto" />
            </div>
        </a>
        <div class="header-buttons">
            <a href="/mes_colis"> <!-- LIEN COLIS -->
                <h1>Mes Colis</h1>
            </a>
            <a href="/retour"> <!-- LIEN RETOUR -->
                <h1>Retour</h1>
            </a>
            <a href="/support"> <!-- LIEN SUPPORT -->
                <h1>Support</h1>
            </a>
            <a href="/info"> <!-- LIEN QUI -->
                <h1>Qui sommes-nous ?</h1>
            </a>
        </div>
    </header>

    <div class="text-retour">
        <h1>Envoi ou retour d’un colis depuis votre boîte aux lettres</h1>
    </div>

    <div class="body-container">
        <div class="retour-container">
            <h1>Renseignez votre numéro de colis</h1>
            <div class="input-box">
                <input type="text" name="colis-id" placeholder="No. de colis" required>
            </div>
            <button class="btn" onclick=""><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</body>
</html>