<!DOCTYPE html>
<html lang="fr">

<head>
<link rel="stylesheet" href="../assets/css/support.css">
<title>Support</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <header>
        <a href="/"><img src="../assets/img/logo.png"></a>
        <nav>
            <ul>
                <li><a href="/colis">mes colis</a></li>
                <li><a href="retour">retour</a></li>
                <li><a href="support">support</a></li>
                <li><a href="/info">qui sommes nous ?</a></li>
            </ul>
        </nav>
    </header>

    <div class="first">
        <div class="title">
        <h2>contact :</h2>
    </div>
        <div class="contact">
        
        <p>Adresse : 3 ter place des marronniers</p>
        <br>
        <p>adresse mail : makhavat@sfr.fr</p>
        <br>
        <p>n° de tel : 06 34 23 47 09</p>
        </div>
    </div>

<div class="second">
<div class="message_admin">
    <h2>Message a l'admin :</h2>
</div>
</div>

<div class="third">
<div>
<h2 class="top_message">Question fréquente :</h2>
<div class="question">
<br>
<p> comment faire un retour sur ma commande ?</p>
<br>
<p> Quels sont les délais de livraison ?</p>
</div>
</div>
</div>

</body>
</html>