<!DOCTYPE html>
<html lang="fr">

<head>
<link rel="stylesheet" href="../assets/css/support.css">
<title>Support</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <header class="index-header">
        <a href="/">
            <div class="container-logo">
                <img src="./assets/img/logof.png" width="350" height="auto" />
            </div>
        </a>
        <div class="header-buttons">
            <a href="/mes_colis"> <!-- LIEN COLIS -->
                <h1>Mes Colis</h1>
            </a>
            <a href="/retour"> <!-- LIEN RETOUR -->
                <h1>Retour</h1>
            </a>
            <a href="/support"> <!-- LIEN SUPPORT -->
                <h1>Support</h1>
            </a>
            <a href="/info"> <!-- LIEN QUI -->
                <h1>Qui sommes-nous ?</h1>
            </a>
        </div>
    </header>

    <div class="first">
        <div class="title">
        <h2>contact :</h2>
    </div>
        <div class="contact">
        
        <p>Adresse : 3 ter place des marronniers</p>
        <br>
        <p>adresse mail : makhavat@sfr.fr</p>
        <br>
        <p>n° de tel : 06 34 23 47 09</p>
        </div>
    </div>

<div class="second">
<div class="message_admin">
    <h2>Message a l'admin :</h2>
</div>
</div>

<div class="third">
<div>
<h2 class="top_message">Question fréquente :</h2>
<div class="question">
<br>
<p> comment faire un retour sur ma commande ?</p>
<br>
<p> Quels sont les délais de livraison ?</p>
</div>
</div>
</div>

</body>
</html>